<mat-card>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput type="text" [ngModel]="post?.title" required name="title" #title="ngModel" placeholder="Title" />
            <mat-error *ngIf="title.invalid">Please Enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput row="6" [ngModel]="post?.content" required name="content" #content="ngModel"
                placeholder="Content"></textarea>
            <mat-error *ngIf="content.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save Post</button>
    </form>
</mat-card>